<span><a href="/" <% if(type == "current"){ %> style="text-decoration:none;"<% } %>>現在</a></span>
<span><a href="/spa/timers/five" <% if(type == "five"){ %> style="text-decoration:none;"<% } %>>5秒</a></span>
<span><a href="/spa/timers/ten" <% if(type == "ten"){ %> style="text-decoration:none;"<% } %>>10秒</a></span>
<span><a href="/spa/timers/thirty" <% if(type == "thirty"){ %> style="text-decoration:none;"<% } %>>30秒</a></span>
<table>
	<tbody id="timerList">
	</tbody>
</table>
